{% for actu in actus %}

    {% if actu and now|date('m') == actu.date|date('m') %}

        <div class="col-12 col-md-5 video-content event-list2 flex-title-bloc">
            <div class="event2">
                <a class="row" href="{{ actu.link }}">

                    <h2 class="active#ff6633 titre-page2 col-12 article-h1 under-title h1-event-list">
                        <i class="fas fa-feather-alt "></i> le petit mot ... <span class="word-date">{{ actu.date|date('F Y') }}</span>
                    </h2>

                    <div class="word-content col-md-12 home-post cie-text">
                        <div class="offset-4 d-block d-md-none"></div>
                        <img src="{{ actu.thumbnail.src }}" class="affiche float-thumb actu-img col-4 col-md-12"  alt="affiche2">
                        <div class="offset-4 d-block d-md-none"></div>
                        {{ actu.content|truncate (50)|raw }}
                    </div>

                </a>

                <a href="#article-anch3" class="anch t-a-center col-12 d-none d-md-block">
                    <div class="button button2 button3">
                        <p><i class="fas fa-chevron-down"></i></p>
                    </div>
                </a>
            </div>

        </div>

    {% else %}

        <div class="offset-md-1 d-none d-md-block event-list2"></div>
        <div class="col-12 col-md-6 flex-title-bloc">
            <h2 class="article-h1 under-title flex-h1 h1-event-list" >
                <i class="fal fa-home-lg"> </i> {{post.get_field('field_5cb8c3fb40b3a')}}
            </h2>
            <div class="img-alt-home d-md-block d-none">

                <div class="d-block d-md-none caption caption2">
                    {{ post.get_field('field_5cb8c1272895d') }}
                </div>
            </div>

            <p>
                <img src="{{ theme.link }}/assets/img/mati-bras.jpg" alt="mati-bras" id="mati-bras" class="thumb-medal float-thumb flex-thumb thumb-medal2">
                {{post.content}}
            </p>
            <a href="#article-anch2" class="flex-btn">
                <div class="button button2 button3">
                    <p><i class="fas fa-chevron-down"></i></p>
                </div>
            </a>
        </div>
    {% endif %}
{% endfor %}
