<div class="container-fluid">
    <section class="event container-fluid">
        <div id="title-bloc" class="title-bloc2 flex-title-bloc col-12 row">
            <div class="container-fluid event-list2 event-home-bloc">
                {# titre section #}
                <h2 class="active#00c94a titre-page article-h1 under-title h1-event-list col-md-5 col-12 link link#66ccff2">
                    <i class="far fa-eye"></i>
                    NOUS VOIR
                </h2>
                {# boucle dates #}
                {% for event in events %}
                    {# Pour chaque date on retourne l'objet spectacle correspondant #}
                    {% for show in shows%}
                        {# Si la date est publique
                              et
                                  si le spectacle est dispo
                              et
                                  si la date est à venir
                                  #}
                        {% if show.get_field('id_show') == event.get_field('id_show') %}

                            {% if event.get_field('public') == true
                                and show.get_field('dispo') == 1
                                and "now" >= event.get_field('date_show')%}
                            %}
                                {# item date avec lien vers l'archive #}
                                <a class="row event-home-bloc event-home-date-block" href="{{ event.link }}">
                                    {# thumbnail #}
                                    <div class="thumb3 col-12 col-md-2 d-none d-md-block">
                                        <img src="{{ show.thumbnail.src }}" alt="thumb">
                                    </div>
                                    {# date du spectacle #}
                                    <p class="date-list col-12 col-md-2">
                                        {{ event.get_field('date_show') }}
                                    </p>
                                    {# Pour chaque date on retourne le lieu correspondant #}
                                    {% for place in places if place.get_field('salle') == event.get_field('salle')%}
                                        {# nom de la salle #}
                                        <p class="col-12 col-md-3">{{ place.get_field('salle') }}</p>
                                        {# Si le spectacle se déroule en France #}
                                        {% if place.get_field('pays') == 'France' %}

                                            {# CP et commune #}
                                            <p class="col-12 col-md-5">{{ place.get_field('cp') }} {{ place.get_field('commune') }}</p>
                                            {# Si le spectacle se déroule à l"étranger #}
                                        {%else %}
                                            {# CP et commune #}
                                            <p class="col-12 col-md-3">{{ place.get_field('cp') }} {{ place.get_field('commune') }}</p>
                                            {# affiche le pays #}
                                            <p class="col-12 col-md-2 country">
                                                {{ place.get_field('pays') }}
                                            </p>
                                        {% endif %}

                                    {% endfor %}
                                </a>
                                {# Si la date est publique
                              et
                                  si le spectacle est dispo
                              et
                                  si la date est à venir
                                  #}
                            {% elseif event.get_field('public') == false
                                and show.get_field('dispo') == 1
                                and "now"|date < event.get_field('date_show') %}
                                {# item date avec lien vers l'archive #}
                                <a class="row event-home-bloc event-home-date-block" href="{{ event.link }}">
                                    {# thumbnail #}
                                    <div class="thumb3 col-12 col-md-2 d-none d-md-block">
                                        <img src="{{ show.thumbnail.src }}" alt="thumb">
                                    </div>
                                    {# date du spectacle #}
                                    <p class="date-list col-12 col-md-2">
                                        {{ event.get_field('date_show') }}
                                    </p>
                                    <div class="offset-md-1 d-md-block d-none"></div>
                                    {# Pour chaque date on retourne le lieu correspondant #}
                                    {% for place in places if place.get_field('salle') == event.get_field('salle')%}
                                        {# nom de la salle #}
                                        <p class="bk-blue white col-12 col-md-2">{{ 'évènement privé' }}</p>
                                        {# Si le spectacle se déroule en France #}
                                        {% if place.get_field('pays') == 'France' %}

                                            {# CP et commune #}
                                            <p class="col-12 col-md-5">{{ place.get_field('cp') }} {{ place.get_field('commune') }}</p>
                                            {# Si le spectacle se déroule à l"étranger #}
                                        {%else %}
                                            {# CP et commune #}
                                            <p class="col-12 col-md-3">{{ place.get_field('cp') }} {{ place.get_field('commune') }}</p>
                                            {# affiche le pays #}
                                            <p class="col-12 col-md-2 country">
                                                {{ place.get_field('pays') }}
                                            </p>
                                        {% endif %}

                                    {% endfor %}
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <a href="{{ site.link }}/nous-voir" class="col-12 col-md-4">
                    <i class="far fa-eye"></i>
                    Toutes les représentations
                </a>
            </div>
        </div>

    </section>

</div>