
{# Boucle 1 date #}
{% for oneevent in oneevents %}
    <div id="title-bloc" class="title-bloc2 title-bloc3 flex-title-bloc col-12 col-md-6 show_2">
        {# Boucle du spectacle correspondant
            - pour le spectacle associé à lévènement
            - si l'évènement est piblic
            - Si il est dispo
            - Si la date de l'évènement est à venir
        #}
        {% for oneshow in oneshows
            if oneshow.get_field('id_show') == oneevent.get_field('id_show')%}
            {% if oneevent.get_field('public') == true
                and oneshow.get_field('dispo') == 1
                and "now" >= event.get_field('date_show')
            %}
                <div class="event-list container">
                    <div>
                        <a class="row loop event-home-bloc " href="{{ oneevent.link }}">

                            {# Titre #}
                            <h2 class="active#00c94a titre-page2 link2#66ccff2 article-event under-title  h1-event-list col-12">
                                <i class="far fa-eye"></i>
                                {{ 'prochaine représentation'|capitalize }}
                            </h2>
                            {#contenu#}
                            {#<div class="d-md-none d-block offset-1"></div>#}
                            <div class="d-none d-md-block offset-md-1"></div>
                            <div class="date-list date-it row col-10 t-a-center">
                                <div class="thumb3 col-12 row">
                                    <p class="col-12">{{ oneevent.get_field('date_show') }}</p>
                                    <div class="offset-1"></div>
                                    <div class="col-10"> <img src="{{ oneshow.thumbnail.src }}" alt="thumb"></div>

                                    <div class="offset-1"></div>
                                </div>
                                {% for place in places if place.get_field('salle') == oneevent.get_field('salle')%}
                                {# Boucle du lieu correspondant #}
                                {# coordonnées #}
                                {# pour les évènements ayant lieu en France #}
                                {% if place.get_field('pays') == 'France' %}
                                    <p class="col-12 col-md-6 country-accordeon t-a-center">{{ place.get_field('cp') }}</p>
                                    <p class="col-12 col-md-12 country-accordeon t-a-center">{{ place.get_field('commune') }}</p>
                                    {# A l'étranger #}
                                {% else %}
                                    <p class="col-5 country-accordeon t-a-center">
                                        {{ place.get_field('salle') }}
                                    </p>

                                    <p class="col-5 country-accordeon t-a-center">
                                        {{ place.get_field('commune') }}
                                    </p>

                                    <p class="d-block col-12 t-a-center">
                                        <span class=" country t-a-center w-100">
                                            {{ place.get_field('pays') }}
                                        </span>
                                    </p>
                                {% endif %}
                            </div>
                            <div class="d-none d-md-block offset-md-1"></div>
                            {# intégration d'une carte#}
                            <div class="col-12 col-md-11 map">
                                {{ place.get_field('gmap') }}
                            </div>
                            {% endfor %}
                        </a>
                    </div>
                    <a href="{{ site.link }}/nous-voir" class="col-12 col-md-4">
                        <i class="far fa-eye"></i>
                        Toutes les représentations
                    </a>
                </div>
            {#Sinon si video existante#}
            {% elseif post.get_field('video-booleen') == true %}
                {# Titre #}
                <h2 class="titre-page2 article-h1 under-titleh1-event-list" id="video-title">
                    <i class="fal fa-video"></i> Videos
                </h2>
                <section class="article-content row">

                    {# embed video#}
                    <div class="article-loop video-content col-12 col-md-12" id="video">
                        {{ post.get_field('field_5cb8c5092e363') }}
                    </div>


                </section>

            {% endif %}
        {% endfor %}
    </div>

{% endfor %}
