<div class="event-list envent-list2 col-12 w-100">
    <section class="event">
        <div id="title-bloc">
            <div class="event-list2 row">
                {# Titre #}
                <div class="title-bloc">
                    <h2 class="titre-page article-h1 under-title h1-event-list a-l-affiche link link#ff66332">
                        <i class="fas fa-square"></i> NOUS SOMMES PASSÉS PAR LÀ ...
                    </h2>
                </div>
                {# Pour chaque référence #}
                {% for reference in references %}
                    {# associe le spectacle correspondant à la reference #}
                    {% for show in shows%}
                        {% if show.get_field('id_show') == reference.get_field('id_show') %}
                            <a class="row event-home-bloc event-home-bloc2 event-home-ref-block col-12" href="{{ show.link }}">
                                <div class="offset-3 d-block d-md-none"></div>
                                {# thumb #}
                                <div class="thumb3 col-6 col-md-2 ">
                                    <img src="{{ show.thumbnail.src }}" alt="thumb">
                                </div>
                                <div class="offset-md-1 d-none d-md-block"></div>
                                <div class="offset-3 d-block d-md-none"></div>
                                {# affiche l'année de la référence #}
                                <p class="date-list col-12 col-md-1">{{ reference.get_field('date_ref')|raw}}</p>
                                {# affiche la salle #}
                                <p class="col-12 col-md-3">{{ reference.get_field('salle') }}</p>
                                {# affiche le cp et la commu #}
                                {# Si le spectacle se déroule en France #}
                                {% if reference.get_field('pays') == 'France' %}
                                    {# CP et commune #}
                                    <p class="col-12 col-md-5">{{ reference.get_field('cp') }} {{ reference.get_field('commune') }}</p>
                                    {# Si le spectacle se déroule à l"étranger #}
                                {%else %}
                                    {# CP et commune #}
                                    <p class="col-12 col-md-3">{{ reference.get_field('cp') }} {{ reference.get_field('commune') }}</p>
                                    {# affiche le pays #}
                                    <p class="col-12 col-md-2 country">
                                        {{ reference.get_field('pays') }}
                                    </p>
                                {% endif %}
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>

    </section>


</div>