{% extends 'base.twig' %}

{% block content %}
        <article class="event container-fluid">
            <div id="title-bloc" class="title-bloc2 flex-title-bloc col-12 row">
                <div class="container-fluid row-actions event-list2 event-home-bloc">
                    {% if events %}
                        {# titre section #}
                        <h2 class="active#00c94a titre-page article-h1 under-title h1-event-list col-md-5 col-12 link#66ccff2">
                            <i class="far fa-eye"></i>
                            {{ post.title }}
                        </h2>
                        {# boucle dates #}
                        {# boucle dates #}
                        
                        {% for event in events %}
                            {# Pour chaque date on retourne l'objet spectacle correspondant #}
                            {% for show in shows%}
                                {# Si la date est publique
                                    et
                                        si le spectacle est dispo
                                    et
                                        si la date est à venir
                                        #}
                                {% if show.get_field('id_show') == event.get_field('id_show')
                                    and show.get_field('dispo') == 1
                                    and "now" >= event.get_field('date_show')%}

                                    {% if event.get_field('public') == true %}
                                        {# item date avec lien vers l'archive #}
                                        <a class="row event-home-bloc event-home-date-block" href="{{ event.link }}">
                                            {# thumbnail #}
                                            <div class="thumb3 col-12 col-md-2 ">
                                                <img src="{{ show.thumbnail.src }}" alt="thumb">
                                            </div>
                                            {# date du spectacle #}
                                            <p class="date-list col-12 col-md-2">
                                                {{ event.get_field('date_show') }}
                                            </p>
                                            {# Pour chaque date on retourne le lieu correspondant #}
                                            {% for place in places if place.get_field('salle') == event.get_field('salle')%}
                                                {# nom de la salle #}
                                                <p class="col-12 col-md-3">{{ place.get_field('salle') }}</p>
                                                {# Si le spectacle se déroule en France #}
                                                {% if place.get_field('pays') == 'France' %}

                                                    {# CP et commune #}
                                                    <p class="col-12 col-md-5">{{ place.get_field('cp') }} {{ place.get_field('commune') }}</p>
                                                    {# Si le spectacle se déroule à l"étranger #}
                                                {%else %}
                                                    {# CP et commune #}
                                                    <p class="col-12 col-md-3">{{ place.get_field('cp') }} {{ place.get_field('commune') }}</p>
                                                    {# affiche le pays #}
                                                    <p class="col-12 col-md-2 country">
                                                        {{ place.get_field('pays') }}
                                                    </p>
                                                {% endif %}

                                            {% endfor %}
                                        </a>

                                        {# Si la date est publique
                                    et
                                        si le spectacle est dispo
                                    et
                                        si la date est à venir
                                        #}
                                    {% elseif event.get_field('public') == false %}
                                        {# item date avec lien vers l'archive #}
                                        <a class="row event-home-bloc event-home-date-block" href="{{ event.link }}">
                                            {# thumbnail #}
                                            <div class="thumb3 col-12 col-md-2">
                                                <img src="{{ show.thumbnail.src }}" alt="thumb">
                                            </div>
                                            {# date du spectacle #}
                                            <p class="date-list col-12 col-md-2">
                                                {{ event.get_field('date_show') }}
                                            </p>
                                            <div class="offset-md-1 d-md-block d-none"></div>
                                            {# Pour chaque date on retourne le lieu correspondant #}
                                            {% for place in places if place.get_field('salle') == event.get_field('salle')%}
                                                {# nom de la salle #}
                                                <p class="bk-blue white col-12 col-md-2">{{ 'évènement privé' }}</p>
                                                {# Si le spectacle se déroule en France #}
                                                {% if place.get_field('pays') == 'France' %}

                                                    {# CP et commune #}
                                                    <p class="col-12 col-md-5">{{ place.get_field('cp') }} {{ place.get_field('commune') }}</p>
                                                    {# Si le spectacle se déroule à l"étranger #}
                                                {%else %}
                                                    {# CP et commune #}
                                                    <p class="col-12 col-md-3">{{ place.get_field('cp') }} {{ place.get_field('commune') }}</p>
                                                    {# affiche le pays #}
                                                    <p class="col-12 col-md-2 country">
                                                        {{ place.get_field('pays') }}
                                                    </p>
                                                {% endif %}

                                            {% endfor %}
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        <h1 class="m-a col-6"> Oups !....</h1>
                        <p class="m-a col-6"> Pas de spectacle à venir...</p>
                        <p class="m-a col-6"> Est-ce le coronavirus? La fièvre du gilet jaune ? Où Fabulle qui a la flemme?</p>
                        <p class="m-a col-6"> Quand auras-t'on des nouvelles ?</p>
                        <br>
                        <p class="m-a col-6"> En attendant inscrivez à ma newsletter et je vous tiendrais au courant.</p>
                        <h1 class="article-h1 col-12">Contact/Newsletters</h1>
                        <div class="row">
                            {% for contact in contacts if contact.id == 916 %}
                                <section class="col-12 col-md-4 form row">
                                    {{ '[mailpoet_form id="3"]'|shortcodes }}
                                </section>
                                <div class="offset-md-1 d-none d-md-block"></div>
                                <section class="col-12 form col-md-4">
                                    <h2>Envoyer un message</h2>
                                    <p>
                                        <i>
                                            Écrivez à <span class="article-sub-h1">Fabulle</span>  !...
                                            <br>
                                            Envie de partager ? Un dessin? Un petit mot gentil ?
                                            <br>
                                            C'est ici!
                                        </i>
                                    </p>
                                    {{ contact.get_field('code_court_cie')|shortcodes }}
                                </section>
                                <div class="offset-md-3 d-none d-md-block"></div>
                                <section class="id col-12 col-md-6 m-a">
                                    <div class="row container m-a">
                                        {# ancre interne #}
                                        <a id="article-anch" class="anch"></a>
                                        {% for contact in contacts if contact.get_field('type_de_contact') == 'prod'
                                            and post.get_field('contact').id == contact.id
                                        %}
                                            {# Entete #}

                                            {# Titre #}
                                            <div class="offset-md-1 d-none d-md-block"></div>
                                            <div class="col-12 col-md-5 coordonnees row">
                                                <div class="active#c90089 contact-title">
                                                    <h1>Contact</h1>
                                                </div>
                                                {#Sous-titre#}
                                                <h2 class="t-a-center col-12">Booking</h2>
                                                {% if contact.get_field('logo_prod') %}
                                                    <div class="offset-2"></div>
                                                    <div class="logo2 col-8">
                                                        <img src="{{ contact.get_field('logo_prod') }}" alt="logo de {{ contact.get_field('nom_prod') }}">
                                                    </div>

                                                    <div class="offset-2"></div>
                                                {% endif %}
                                                {# Raiso sociale #}
                                                <div class="offset-1"></div>
                                                <p class="col-10 article-sub-h1">{{ contact.get_field('nom_prod') }}</p>
                                                <div class="offset-1"></div>
                                                {# Adresse #}
                                                <p class="col-12 t-a-center">{{ contact.get_field('adresse') }}</p>
                                                {# CP + Commune #}
                                                <p class="col-12 t-a-center">
                                                    <span>{{ contact.get_field('cp') }}</span> <strong class="link5">{{ contact.get_field('commune') }}</strong>
                                                </p>
                                                {# tel fixe #}
                                                {% if contact.get_field('telephone_fixe') %}
                                                    <div class="offset-2"></div>
                                                    <p class=" d-flex justify-content-around col-8">
                                                        <i class="fal fa-phone"></i>
                                                        <span class="m-a d-block"> +33 {{ contact.get_field('telephone_fixe') }}</span>
                                                    </p>
                                                    <div class="offset-2"></div>
                                                {% endif %}
                                                {# tel mobile #}
                                                {% if contact.get_field('telephone_mobile') %}
                                                    <div class="offset-2"></div>
                                                    <p class=" d-flex justify-content-around col-8">
                                                        <i class="fas fa-mobile-alt"></i>
                                                        <span class="m-a d-block">+33 {{ contact.get_field('telephone_mobile') }}</span>
                                                    </p>
                                                    <div class="offset-2"></div>
                                                {% endif %}
                                                {# site web#}
                                                {% if contact.get_field('url') %}
                                                    <p class="col-12 t-a-center ad ad2 url">
                                                        <a href="{{ contact.get_field('url') }}" target="_blank">site web</a>
                                                    </p>
                                                {% endif %}
                                                {# map #}
                                                {% if contact.get_field('map_prod') %}
                                                    <div class="col-12">
                                                        {{ contact.get_field('map_prod') }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="form col-12 col-md-5">
                                                {# Entete #}
                                                <p>
                                                    <i>
                                                        Pour faire venir
                                                        {% if post.post_type == 'spectacles' %}
                                                            <br>
                                                            <span class="article-sub-h1">
                                                            "{{ post.title }}"
                                                        </span>
                                                        {% elseif post.post_type != 'spectacles' %}
                                                            un spectacle de
                                                            <span class="article-sub-h1">
                                                            Fabulle et cie
                                                        </span>
                                                        {% endif %}
                                                        , demander un devis, et toute question relative à la facturation...
                                                        <br>
                                                        C'est ici!
                                                    </i>
                                                </p>
                                                {# formulaire#}
                                                {{ contact.get_field('code_court_prod')|shortcodes }}
                                            </div>
                                            <div class="offset-md-1 d-none d-md-block"></div>
                                        {% endfor %}
                                        {% for contact in contacts if contact.get_field('type_de_contact') == 'cie'
                                            and post.get_field('contact').id == contact.id
                                        %}

                                            {# Contact#}
                                            <div class="offset-md-1 d-none d-md-block"></div>
                                            <div class="row col-12 col-md-5 coordonnees">
                                                <div class="active#c90089 contact-title">
                                                    <h1>Contact</h1>
                                                </div>
                                                <div class="col-12"><img src="{{ contact.thumbnail.src }}" alt="logo de Fabulle et cie"></div>



                                                <div class="offset-1"></div>
                                                <p class="t-a-center col-10">{{ contact.get_field('adresse_cie') }}</p>
                                                <div class="offset-1"></div>
                                                <div class="offset-1"></div>
                                                <p class="t-a-center col-10">
                                                    <span>{{ contact.get_field('cp_cie') }}</span> <strong class="link5">{{ contact.get_field('commune_cie') }}</strong>
                                                </p>
                                                <div class="offset-1"></div>
                                                {% if contact.get_field('telephone_fixe_cie') %}
                                                    <div class="offset-1"></div>
                                                    <p class=" d-flex justify-content-around col-10">
                                                    <span class="m-a d-block">
                                                    <i class="fas fa-mobile-alt"></i>
                                                    +33 {{ contact.get_field('telephone_fixe_cie') }}</span>
                                                    </p>
                                                    <div class="offset-1"></div>
                                                {% endif %}
                                                {% if contact.get_field('telephone_mobile_cie') %}
                                                    <div class="offset-1"></div>
                                                    <p class=" d-flex justify-content-around col-10">
                                                    <span class="m-a d-block">
                                                    <i class="fas fa-mobile-alt"></i>
                                                    +33 {{ contact.get_field('telephone_mobile_cie') }}
                                                    </span>
                                                    </p>
                                                    <div class="offset-1"></div>
                                                {% endif %}
                                            </div>
                                            <div class="form col-12 col-md-5">
                                                <p>
                                                    <i>
                                                        Écrivez à <span class="article-sub-h1">Fabulle</span>  !...
                                                        <br>

                                                        Une question sur
                                                        <br>
                                                        <a href="{{ site.url }}les-spectacles/">
                                                            <span class="article-sub-h1">un de nos spectacles</span>
                                                        </a>
                                                        <br>
                                                        Une interrogation technique?
                                                        <br>
                                                        Envie de partager ? Un dessin? Un petit mot gentil ?

                                                        <br>
                                                        C'est ici!
                                                    </i>
                                                </p>
                                                {{ contact.get_field('code_court_cie')|shortcodes }}
                                            </div>
                                            <div class="offset-md-1 d-none d-md-block"></div>
                                        {% endfor %}
                                    </div>
                                </section>
                                 <div class="offset-md-3 d-none d-md-block"></div>

                            {% endfor %}
                        </div>
                    {% endif %}

                </div>
            </div>

        </article>


{% endblock %}