{% extends "base.twig" %}
{% block tmp_slide %}
    {% if  post.get_field('field_5d529929a5272') == true %}
        <div id="carouselExampleIndicators" class="carousel slide d-none d-sm-block" data-ride="carousel">
            <div class="carousel-inner">
                {# img 1#}
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{{ post.get_field('field_5cb0656577ff6') }}" alt="First slide">
                    <h1 class="carousel-caption d-none d-md-block caption caption2">
                        {{ post.get_field('field_5cb06683a9ebb') }}

                    </h1>
                </div>
                {# img 2#}
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{ post.get_field('field_5cb06644e1d8b') }}" alt="Second slide">
                    <h1 class="carousel-caption d-none d-md-block caption caption2">
                        {{ post.get_field('field_5cb0672123300') }}
                    </h1>
                </div>
                {# img 3#}
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{ post.get_field('field_5cb06654e1d8c') }}" alt="Third slide">
                    <h1 class="carousel-caption d-none d-md-block caption caption2">
                        {{ post.get_field('field_5cb0676246ed9') }}
                    </h1>
                </div>
                {# img 4#}
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{ post.get_field('field_5cb0666ec680f') }}" alt="Fourth slide">
                    <h1 class="carousel-caption d-none d-md-block caption caption2">
                        {{ post.get_field('field_5cb0678573fc4') }}
                    </h1>
                </div>
            </div>
            {#Boutons previous et next#}
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            {# Vers ancre suivante #}
            <a href="#article-anch" class="anch">
                <div class="button button-h">
                    <p><i class="fas fa-chevron-down"></i></p>
                </div>
            </a>
        </div>
    {% endif %}
{% endblock %}
{% block content %}
    <a id="article-anch" class="anch"></a>
    <div class="container-fluid content-wrapper article_content show-content">

        <article class="row post-type-{{post.post_type}} show_teaser" id="post-{{post.ID}}">

            <div class="col-6 col-md-3 article-content">
                <div class="affiche">
                    <img src="{{post.thumbnail.src}}" alt="affiche" class="affiche">
                </div>
            </div>
            <div class="offset-md-1"></div>
            <div class="col-md-8 article-content">
                <h1 class="article-h1 under-title show-h1">{{ post.title }}</h1>

                    <p class="article-text create_date">
                        création: {{ post.get_field('field_5cb497265c4df') }}
                    </p>
                    <p class="article-text article-sub-h2">
                        {{ post.content }}
                    </p>
                    <a href="#article-anch2">
                        <div class="button button2">
                            <p>
                                <i class="fas fa-chevron-down"></i>
                            </p>
                        </div>
                    </a>
            </div>
            <div class="v-bloc col-md-12"></div>
            <a id="article-anch2" class="show-content2"></a>
            {% if post.get_field('video-booleen') %}
                <div class="col-md-6 article-content">
                    <h2 class="article-h1 under-title show-h1" id="imagine">
                        {{ post.get_field('field_5cb1941775e1b') }}
                    </h2>
                    <p class="article-text">
                        {{ post.get_field('field_5cb1939eb9083')  }}
                    </p>
                    <a href="#article-anch3">
                        <div class="button button2">

                            <p><i class="fas fa-chevron-down"></i></p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 video">
                    <div class="video-content">
                        {{ post.get_field('field_5cb1e69bc71a5') }}
                    </div>
                </div>



            {% else %}

                <div class="row article-content">

                    <div class="col-md-6 ">
                        <h2 class="article-h1 under-title" id="imagine">
                            {{ post.get_field('field_5cb1941775e1b') }}
                        </h2>
                            <p class="article-text">
                                {{ post.get_field('field_5cb1939eb9083')  }}
                            </p>
                            <a href="#article-anch3">
                                <div class="button button2">

                                    <p><i class="fas fa-chevron-down"></i></p>
                                </div>
                            </a>
                    </div>
                    <div class="col-md-6 img_alt">
                        <img src="{{ post.get_field('field_5cb488e6b0a43') }}" alt="img">
                    </div>
                </div>

            {% endif %}
            <div class="offset-1"></div>
            {% if post.get_field('dispo') %}
                <a id="article-anch3"></a>
                <div class="col-md-10 bref">
                    <a id="article-anch3" class="anch"></a>
                    <h2 class="article-text-h2" id="title-spe">
                        {{ post.title }}
                    </h2>
                    <div class="bref_block">

                        <p class="bref-item style">
                            {{ post.get_field('field_5cb19e8a1f92d') }}
                        </p>
                        <p class="bref-item">
                            à partir de {{ post.get_field('field_5cb19f4acd2c1') }} ans
                        </p>
                        <p class="bref-item">
                            jusqu'à {{ post.get_field('field_5cb19fb4cd2c2') }} ans
                        </p>
                        <div class="bref-item">

                            <p class="school">
                                Scolaires: du {{ post.get_field('field_5cb1e19399290') }} au {{ post.get_field('field_5cb1e23b477ab') }}.
                            </p>
                        </div>


                        <p class="bref-item">
                            durée: {{ post.get_field('field_5cb19fe0cd2c3') }} mn
                        </p>
                        <p class="bref-item">
                            jauge: {{ post.get_field('field_5cb1a05dcd2c4') }}
                        </p>

                        <p class="bref-item">
                            tarif *: {{ post.get_field('field_5cb1a073cd2c5') }} €
                        </p>
                        <p class="mentions">
                            <i>* hors frais de déplacement et conditions particulière</i>
                            <a href="">nous consulter</a>
                        </p>
                        <div>


                            {% for event in events %}
                                {% if post.get_field('field_5cbc31c7f2c13') == event.get_field('field_5cbc31c7f2c13') %}
                                    {% if "now"|date<event.get_field('field_5cb4d81344d45')  %}
                                    <h4 class="next-date next-date2">PROCHAINES REPRÉSENTATIONS</h4>
                                     <section class="container">

                                        <a class="row event-home-bloc" href="{{ event.link }}">
                                            <div class="thumb thumb2 col-md-3">
                                                <img src="{{ post.thumbnail.src }}" alt="thumb">
                                            </div>
                                            <p class="col-md-3">{{ event.get_field('field_5cb4d81344d45') }}</p>
                                            <p class="col-md-3">{{ event.get_field('field_5cb4e5ba17780') }}</p>
                                            <p class="col-md-3">{{ event.get_field('field_5cb4e62317783') }} {{ event.get_field('field_5cb4e63d17784') }}</p>
                                        </a>
                                    </section>

                                    {% endif %}
                                {% endif %}
                            {% endfor %}


                        </div>
                    </div>


                </div>
                <div class="offset-1"></div>


            {% else %}

            <a id="article-anch3" class="anch col-md-12"></a>

            <h2 class="article-h1 under-title">A L'AFFICHE</h2>
                    <div class="article-loop article-loop2 container-fluid">
                        {% for show in shows %}

                            {% if show.get_field('dispo') %}

                                <div class="show_1 row">
                                    <a class="row" href="{{ show.link }}">
                                        <h1 class="h1-medal col-12">
                                            {{ show.title }}
                                        </h1>

                                        <div class="thumb-medal thumb-medal2 col-md-12">
                                            <img src="{{show.thumbnail.src}}" alt="affiche" class="affiche">
                                        </div>
                                        <p class=" medal-text col-md-12">
                                            {{ show.preview.read_more('lire la suite') }}
                                        </p>
                                    </a>
                                </div>
                            {% endif %}

                        {% endfor %}

                    </div>

            {% endif %}


            <div class="offset-1"></div>


        </article>
    </div>

{% endblock %}

