{% extends "base.twig" %}
{#SLIDER#}
{% block tmp_slide %}
    {% if  post.get_field('field_5cb4c045df81a') == true %}
        <div id="carouselExampleIndicators" class="carousel slide d-none d-md-block" data-ride="carousel">
            <div class="carousel-inner">
                 {#img 1#}
                <div class="carousel-item active"><
                    <img class="d-block w-100" src="{{ post.get_field('field_5cb0656577ff6') }}" alt="First slide">
                    <h1 class="carousel-caption d-none d-md-block caption caption2">
                        {{ post.get_field('field_5cb06683a9ebb') }}
                        {#Vers ancre suivante#}
                        <a href="#article-anch" class="anch">
                            <div class="button button-h">

                                <p><i class="fas fa-chevron-down"></i></p>
                            </div>
                        </a>
                    </h1>
                </div>
                 {#img 2#}
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{ post.get_field('field_5cb06644e1d8b') }}" alt="Second slide">
                    <h1 class="carousel-caption d-none d-md-block caption caption2">
                        {{ post.get_field('field_5cb0672123300') }}
                        <a href="#article-anch" class="anch">
                            <div class="button button-h">
                                <p><i class="fas fa-chevron-down"></i></p>
                            </div>
                        </a>
                    </h1>
                </div>
                 {#img 3#}
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{ post.get_field('field_5cb06654e1d8c') }}" alt="Third slide">
                    <h1 class="carousel-caption d-none d-md-block caption caption2">
                        {{ post.get_field('field_5cb0676246ed9') }}
                        <a href="#article-anch" class="anch">
                            <div class="button button-h">

                                <p><i class="fas fa-chevron-down"></i></p>
                            </div>
                        </a>
                    </h1>
                </div>
                 {#img 4#}
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{ post.get_field('field_5cb0666ec680f') }}" alt="Fourth slide">
                    <h1 class="carousel-caption d-none d-md-block caption caption2">
                        {{ post.get_field('field_5cb0678573fc4') }}
                        <a href="#article-anch" class="anch">
                            <div class="button button-h">

                                <p><i class="fas fa-chevron-down"></i></p>
                            </div>
                        </a>
                    </h1>
                </div>
            </div>
            {#Boutons previous et next#}
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    {% endif %}
{% endblock %}
{# CONTENU DE LA PAGE#}
{% block content %}
    {# ANCRE 1#}
    <a id="article-anch" class="anch"></a>
    <div class="container-fluid content-wrapper article_content show-content">
        <article class="row post-type-{{post.post_type}} show_teaser" id="post-{{post.ID}}">
            {# TITRE DU SPECTACLE#}
            {#<h1 class="col-12 article-h1 under-title show-h1">{{ post.title }}</h1>#}
            <div class="offset-md-6 d-none d-md-block"></div>
            {# DATE DE CREATION #}
            <div class="col-12 col-md-3 article-text create_date">
                {# date de sortie ('Y') #}
                <p>Sortie: {{ post.get_field('field_5cb497265c4df') }}</p>
                {# si indispo #}
                {% if post.get_field('dispo') == 2 %}
                    <p class="active#c90089">
                        ce spectacle n'est plus disponible
                    </p>
                {% endif %}

            </div>
            <div class="offset-md-3 d-none d-md-block"></div>
            <div class="offset-md-2 d-none d-md-block"></div>
            {# THUMB + PRESENTATION#}
            <div class="col-md-8  col-12 article-content">
                <img src="{{post.thumbnail.src}}" alt="affiche" class="float-thumb affiche">
                {{ post.content }}
            </div>
            <div class="offset-md-2 d-none d-md-block"></div>

            <div class="offset-2"></div>
            {#Vers ancre suivante#}
            <a href="#article-anch2" class="col-12">
                <div class="button button2">
                    <p>
                        <i class="fas fa-chevron-down"></i>
                    </p>
                </div>
            </a>
            {# ANCRE 2 #}
            <a id="article-anch2" class=" row show-content2"></a>

            {# -------------------------SI VIDEO-----------------------------------------------------#}

            {% if post.get_field('video-booleen') == true%}
                <div class="m-b-50 col-12">
                    {# BLOC VIDEO #}
                    <div class="video row">
                        {#titre#}
                        <div class="float-thumb col-12 col-md-6 col-lg-5 video-content">
                            {# titre #}
                            <h2 class="article-h1">
                                Vidéos de
                                <br>
                                {#titre spectacle#}
                                <span class="article-h2  white">
                                    {{ post.title }}
                                </span>
                            </h2>
                            {# Video Youtube #}
                            <p>{{ post.get_field('youtube') }}</p>
                            <a href="#article-anch3">
                                <div class="button button2">
                                    <p><i class="fas fa-chevron-down"></i></p>
                                </div>
                            </a>
                        </div>
                        <div class="offset-md-1 d-none d-md-block"></div>
                        {# Bloc sub+text supplémentaire #}
                        <div class="col-12 col-md-5">
                            {# sub_2 #}
                            <h2 class="article-h1 under-title show-h1" id="imagine">
                                {{ post.get_field('sub_2') }}
                            </h2>
                            {# text_2 #}
                            <p class="article-content">
                                {{ post.get_field('text_2') }}
                            </p>
                        </div>
                    </div>



                    </div>


            {# ------------------------- SI PAS VIDEO et si text_2,
                                                                    on n'afficche que le sub_2 + text_2  -----------------------------------------------------#}
            {% elseif post.get_field('text_2') %}
                <div class="row article-content">
                    <div class="offset-md-1"></div>
                    {# sub_2 #}
                    <h2 class="article-h1 under-title" id="imagine">
                        {{ post.get_field('sub_2') }}
                    </h2>
                    <div class="offset-md-2 d-none d-md-block"></div>
                    {# text_2 t#}
                    <div class="col-md-8 col-12">
                        {{ post.get_field('text_2') }}
                    </div>

                    <div class="offset-md-2 d-none d-md-block"></div>


                </div>
                {#Vers ancre suivante#}
                <a href="#article-anch3" class="m-a">
                    <div class="button button2">

                        <p class="m-a"><i class="fas fa-chevron-down "></i></p>
                    </div>
                </a>

            {% endif %}
            {% if  post.get_field('video-booleen') == true
                or post.get_field('text_2') %}
                <a id="article-anch3" class=" row show-content2"></a>
            {% else %}
                <a id="article-anch2" class=" row show-content2"></a>
            {% endif %}
            {% if post.get_field('sound_booleen') == true%}
             {% if post.get_field('video-booleen') == false%}
                 <a id="article-anch3" class="anch col-md-12"></a>
                 <div class="m-b-50 col-12">
                    {#Sound#}
                    <div class="video row">

                        <p class="float-thumb video-content col-md-6 col-12">
                            {{ post.get_field('sound') }}
                        </p>
                        <div class="col-md-5 col-12">
                            <h2 class="article-h1">
                                Écoutez
                                <span class="article-h2  white">
                                    {{ post.title }}
                                </span>
                            </h2>
                            <a href="#article-anch4" class="d-md-block d-none">
                            <div class="button button2">
                                <p><i class="fas fa-chevron-down"></i></p>
                            </div>
                        </a>
                        </div>


                    </div>
                 </div>
             {% else %}
                 <div class="m-b-50 col-12">
                     {#sound#}
                     <div class="video row">
                         <div class="col-12 row col-md-6">
                             <h1 class="article-h1 col-12">
                                 Écoutez
                                 <span class="article-h2  white">
                                {{ post.title }}
                            </span>
                             </h1>
                             <a href="#article-anch4" class="col-md-12 d-md-block d-none">
                                 <div class="button button2">
                                    <p>
                                        <i class="fas fa-chevron-down"></i>
                                    </p>
                                 </div>

                             </a>
                         </div>



                         <p class="float-thumb video-content col-md-6 col-12">
                             {{ post.get_field('sound') }}

                         </p>
                     </div>
                 </div>
            {% endif %}
        {% endif %}
        <a id="article-anch4" class=" row show-content2"></a>
        <div class="row loop">

            <h1 class="article-h1 under-title col-12">Les artistes</h1>

            {% for membre in post.get_field('artistes') %}
                <div class="offset-md-1 d-none d-md-block"></div>
                <a href="{{ membre.link }}" class="membre row col-12 col-md-5">

                    <h3 class="article-text-h2 col-12">{{ membre.get_field('prenom') }} {{ membre.get_field('nom') }} </h3>

                    <div class="col-12">
                            <img src="{{ membre.thumbnail.src }}" class="col-4 float-thumb" alt="Image pour {{ membre.title}}">
                            {{ membre.get_field('bio')|truncate(25) }}</div>

                </a>

            {% endfor %}
            <a href="#article-anch5" class="col-md-12 d-md-block d-none">
                <div class="button button2">
                    <p>
                        <i class="fas fa-chevron-down"></i>
                    </p>
                </div>

            </a>
        </div>
        <div class="offset-1"></div>
        {% if post.get_field('dispo') == 1 %}
            <a id="article-anch5"></a>
            <div class="col-12 bref">
                <div class="bref_block row">
                    <h2 class="col-8 article-h1 under-title">
                        En bref
                    </h2>
                    <div class="col-10 loop row">
                        <div class="bref-item">
                            <p>
                                {{ post.get_field('style') }}
                            </p>
                        </div>
                        {% if post.get_field('age_mini') and post.get_field('age_maxi')%}
                            <div class="bref-item">

                                <p class="school">
                                    <i class="fas fa-birthday-cake"></i> de {{ post.get_field('age_mini') }} à {{ post.get_field('age_maxi') }} ans.
                                </p>
                            </div>
                        {% elseif  post.get_field('age_mini') and post.get_field('age_maxi') == null%}
                        <div class="bref-item">

                            <p class="school">
                                <i class="fas fa-birthday-cake"></i> à partir de {{ post.get_field('age_mini') }} ans
                            </p>
                        </div>
                        {% elseif  post.get_field('age_maxi') and post.get_field('age_mini') == null%}
                        <div class="bref-item">

                            <p class="school">
                                <i class="fas fa-birthday-cake"></i>jusqu'à {{ post.get_field('age_mini') }} ans
                            </p>
                        </div>
                        {% endif %}
                        {% if post.get_field('classe_mini') and post.get_field('classe_maxi')%}
                        <div class="bref-item">

                            <p class="school">
                                <i class="fas fa-bus-school"></i>  {{ post.get_field('classe_mini') }} à {{ post.get_field('classe_maxi') }}.
                            </p>
                        </div>
                        {% elseif  post.get_field('classe_mini') and post.get_field('classe_maxi') == null%}
                        <div class="bref-item">

                            <p class="school">
                                <i class="fas fa-bus-school"></i>  {{ post.get_field('classe_mini') }}
                            </p>
                        </div>
                        {% elseif  post.get_field('classe_maxi') and post.get_field('classe_mini') == null%}
                        <div class="bref-item">

                            <p class="school">
                                <i class="fas fa-bus-school"></i> jusqu'au {{ post.get_field('classe_mini') }}
                            </p>
                        </div>
                        {% endif %}

                        {% if post.get_field('duree')  %}

                            {% if post.get_field('duree')%60 == 0  %}
                                <div class="bref-item">

                                    <p>
                                        {{ post.get_field('duree')/60 }}h env
                                    </p>
                                </div>
                            {% elseif (post.get_field('duree') % 60)/60 >= 1 %}
                                <div class="bref-item">
                                        <p>
                                            <i class="fas fa-watch"></i>
                                            {{ (post.get_field('duree') - post.get_field('duree') % 60) / 60}}h {{ post.get_field('duree') % 60 }}mn env
                                        </p>
                                </div>
                            {% elseif (post.get_field('duree') % 60)/60 <= 1  %}

                                <div class="bref-item">

                                    <p>
                                        {{ post.get_field('duree') }}mn env
                                    </p>
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if post.get_field('jauge')  %}
                        <div class="bref-item">
                            <p class="school">
                                <i class="fas fa-user-friends"></i>: {{ post.get_field('jauge') }} personnes max.
                            </p>
                        </div>
                        {% endif %}
                        <div class="bref-item effectif">
                            <p class="school">
                                <i class="fas fa-guitar effectif-item"></i>
                                <strong class="effectif-item">{{ post.get_field('artistes')|length }}
                                    {% if post.get_field('artistes')|length == 1 %}
                                        artiste
                                    {% elseif  post.get_field('artistes')|length > 1 %}
                                        artistes
                                    {% endif %}
                                </strong>
                            </p>
                        </div>
                        <div class="bref-item effectif">
                            {%  if post.get_field('tech') %}
                            <p class="school">
                                <i class="fas fa-headphones effectif-item"></i>
                                <strong class="effectif-item">{{ post.get_field('tech')|length }}
                                    {% if post.get_field('tech')|length == 1 %}
                                        technicien
                                    {% elseif  post.get_field('tech')|length > 1 %}
                                        techniciens
                                    {% endif %}
                                </strong>
                            </p>
                            {% endif %}
                        </div>
                        {% if post.get_field('ouverture') and post.get_field('profondeur') == null%}
                            <div class="bref-item">
                                <p class="school">
                                    <i class="fas fa-ruler"></i> {{ post.get_field('ouverture') }} m
                                </p>
                            </div>
                        {% elseif post.get_field('ouverture') and post.get_field('profondeur') %}
                            <div class="bref-item">
                                <p class="school">
                                    <i class="fas fa-ruler"></i> {{ post.get_field('ouverture') }} X {{ post.get_field('profondeur') }}m minimum
                                </p>
                            </div>
                        {% endif %}
                        {% if post.get_field('fiche_technique') %}
                            <div class="bref-item">

                                <p class="school">
                                    <a href="{{ post.get_field('fiche_technique') }}" class="link link4">
                                        <i class="fas fa-file-alt"></i> Fiche technique
                                    </a>
                                </p>

                            </div>
                        {% endif %}
                        {% if post.get_field('tarif')  %}
                            <div class="bref-item effectif">

                                    <p class="school">
                                        <i class="fas fa-euro-sign"></i>: {{ post.get_field('tarif') }}
                                    </p>
                            </div>
                            <div class="bref-item effectif">
                                    <p class="mentions">
                                        <i class="fas fa-euro-sign"></i><i> hors frais de déplacement et conditions particulière</i>
                                        <a class="link link3 link4" href="{{ site.url }}/contact">nous consulter</a>
                                    </p>

                            </div>

                        {% endif %}
                        <a href="#article-anch6" class="col-md-12 d-md-block d-none">
                            <div class="button button2">
                                <p>
                                    <i class="fas fa-chevron-down"></i>
                                </p>
                            </div>

                        </a>
                    </div>
                    {# séparateur #}
                    {% include '/views/partial/separation.twig' %}
                    <a id="article-anch6"></a>
                    {% include '/views/partial/contacts.twig' %}
                    <a href="#article-anch7" class="col-md-12 d-md-block d-none">
                        <div class="button button2">
                            <p>
                                <i class="fas fa-chevron-down"></i>
                            </p>
                        </div>

                    </a>
                </div>
            </div>
            <a id="article-anch7"></a>
            <div class="date-list container-fluid event-list2">
                <div class="row row-eq-height">
                    {% for event in events if post.get_field('id_show') == event.get_field('id_show')  %}
                        <div class="offset-4 d-block d-md-none"></div>
                        <img src="{{ post.thumbnail.src }}" class="col-4 t-a-center" alt="image de {{ post.title }}">
                        <div class="offset-4 d-block d-md-none"></div>
                        <h2 class="col-12 col-md-8 article-h1 under-title">
                                Prochaines représentations
                        </h2>
                    {% endfor %}
                    {% for event in events %}
                        {% if post.get_field('id_show') == event.get_field('id_show')
                            and post.get_field('dispo') == 1 %}
                            {% if "now" > event.get_field('date_show')%}

                                {% if event.get_field('public') == true %}
                                    {# item date avec lien vers l'archive #}
                                    <a class="row col-12 event-home-bloc event-home-date-block" href="{{ event.link }}">

                                        {# date du spectacle #}
                                        <p class="date-list col-12 col-md-4">
                                            {{ event.get_field('date_show') }}
                                        </p>
                                        {# Pour chaque date on retourne le lieu correspondant #}
                                        {% for place in places if place.get_field('salle') == event.get_field('salle')%}
                                            {# nom de la salle #}
                                            <p class="col-12 col-md-3">{{ place.get_field('salle') }}</p>
                                            {# Si le spectacle se déroule en France #}
                                            {% if place.get_field('pays') == 'France' %}

                                                {# CP et commune #}
                                                <p class="col-12 col-md-5">{{ place.get_field('cp') }} {{ place.get_field('commune') }}</p>
                                                {# Si le spectacle se déroule à l"étranger #}
                                            {%else %}
                                                {# CP et commune #}
                                                <p class="col-12 col-md-3">{{ place.get_field('cp') }} {{ place.get_field('commune') }}</p>
                                                {# affiche le pays #}
                                                <p class="col-12 col-md-2 country">
                                                    {{ place.get_field('pays') }}
                                                </p>
                                            {% endif %}

                                        {% endfor %}
                                    </a>

                                    {# Si la date est publique
                                  et
                                      si le spectacle est dispo
                                  et
                                      si la date est à venir‡
                                      #}
                                {% elseif event.get_field('public') == false %}

                                    {# item date avec lien vers l'archive #}
                                    <a class="row event-home-bloc event-home-date-block col-12" href="{{ event.link }}">
                                        {# date du spectacle #}
                                        <p class="date-list col-12 col-md-4">
                                            {{ event.get_field('date_show') }}
                                        </p>
                                        <div class="offset-md-1 d-md-block d-none"></div>
                                        {# Pour chaque date on retourne le lieu correspondant #}
                                        {% for place in places if place.get_field('salle') == event.get_field('salle')%}
                                            {# nom de la salle #}
                                            <p class="bk-blue white col-12 col-md-2">{{ 'évènement privé' }}</p>
                                            {# Si le spectacle se déroule en France #}
                                            {% if place.get_field('pays') == 'France' %}

                                                {# CP et commune #}
                                                <p class="col-12 col-md-5">{{ place.get_field('cp') }} {{ place.get_field('commune') }}</p>
                                                {# Si le spectacle se déroule à l"étranger #}
                                            {%else %}
                                                {# CP et commune #}
                                                <p class="col-12 col-md-3">{{ place.get_field('cp') }} {{ place.get_field('commune') }}</p>
                                                {# affiche le pays #}
                                                <p class="col-12 col-md-2 country">
                                                    {{ place.get_field('pays') }}
                                                </p>
                                            {% endif %}

                                        {% endfor %}
                                    </a>
                                {% endif %}
                            {% endif %}
                            <div class="offset-md-8 d-none d-md-block"></div>
                            <a href="{{ site.link }}/nous-voir" class="col-12 col-md-4">
                                <i class="far fa-eye"></i>
                                Toutes les représentations
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="offset-1"></div>
            {% else %}
            <h2 class="article-h1 under-title">A L'AFFICHE</h2>
                <div class="article-loop article-loop2 container-fluid">
                    {% include '/views/partial/loops/show-loop2.twig' %}

                </div>
            {% endif %}
            </div>


        </article>
    </div>

{% endblock %}

