{% extends "base.twig" %}

{% block content %}

    <a id="article-anch" class="anch"></a>
    <div class="content-wrapper">
        <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
            <section class="article-content container">
                <div class="place">

                    <div class="endroit row">

                        <div class="adress col-md-5 col-12">
                            <h1 class="h1-medal hall">
                                {{ post.title }}
                            </h1>
                            <p class="ad">
                                {{ post.get_field('field_5cb4e5e417781') }}
                            </p>

                            <p class="ad">
                                {{ post.get_field('field_5cb4e62317783') }}
                                <strong>
                                    {{ post.get_field('field_5cb4e63d17784') }}
                                </strong>
                            </p>
                            {% if  post.get_field('field_5d568faa16316') != 'France' %}
                                <p class="ad country">
                                    {{ post.get_field('field_5d568faa16316') }}
                                </p>
                            {% endif %}
                            <p class="ad tel">
                                {{ post.get_field('field_5cb72154c6b26') }}
                            </p>
                            <p class="ad url">
                                <a href="{{ post.get_field('field_5cb7241778245') }}" target="_blank">site web</a>
                            </p>
                        </div>

                        <div class="map col-12 col-md-5 event-home-bloc event-home-bloc2">
                            {{ post.get_field('field_5cb4e67517785') }}
                        </div>
                    </div>

                </div>
                <a href="{{ site.url }}/lactu/#article-anch">
                    <p class="back-link nest-date next-date-3">
                        <i class="fal fa-arrow-circle-left"></i> retour dates
                    </p>
                </a>
            </section>
        </article>
    </div>
{% endblock %}

