<nav class="dropdown d-lg-none d-block col-2">

    <a href="#" class="btn btn-secondary dropdown-toggle links" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <p><i class="fas fa-bars"></i></p>
    </a>
    <div class="dropdown-menu t-a-center t4" aria-labelledby="dropdownMenuLink">
        <img class="img d-b m-a w-80" src="{{ theme.link }}\assets/img/logo.png" alt="">
        <a class="add2 add-link link dropdown-item" href="{{ site.link }}/#article-anch-1"><i class="fal fa-home"></i></a>
        <a class="add2 add-link link dropdown-item" href="{{ site.link }}/#article-anch-2">ma démarche</a>
        <a class="add2 add-link link dropdown-item" href="{{ site.link }}/#article-anch-3">prestation</a>
        <a class="add2 add-link link dropdown-item" href="{{ site.link }}/#article-anch-4">contact</a>


    </div>

</nav>